@charset "UTF-8";

/********************
フォントサイズ
********************/



/************************************************************
@font-face
************************************************************/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 500;
}
@font-face {
  font-family: "Yu Mincho";
  src: local("Yu Mincho Demibold");
  font-weight: 500;
}
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W3);
  font-weight: 400;
}

/********************
サイズ指定
********************/


/********************
右寄せ・左寄せ指定
********************/

/********************
フォントカラー
********************/

/********************
余白
********************/


/*******************
影
*******************/

/*******************
角丸
*******************/




/********************
段組
********************/	

/*2列*/

/*3列*/



/********************
ボーダー
********************/

/*******************
背景画像繰り返し
*******************/

/*******************
スペーサー
*******************/
.mrgnB20 {margin-bottom:20px;}
.mrgnB40 {margin-bottom:40px;}

.mrgnT10 {margin-top:10px;}

/********************
リスト●表示
********************/

/********************
リスト番号表示
********************/


/********************
注釈（※）
********************/

/********************
フォーム
********************/

/*必須*/


/*******************
クリアフィックス
*******************/

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

