/*!
 * jquery-drawer v3.2.2
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */
/*!------------------------------------*\
	  Base
\*!------------------------------------*/

/******************************************************************************
メニュー（PC表示）
******************************************************************************/
/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/
.drawer-hamburger{ display:none;}

/*!------------------------------------*\
    Menu
\*!------------------------------------*/
.drawer-nav {
	border-top:#cccccc solid 1px;
	border-bottom:#cccccc solid 1px;
	}
.drawer-menu{
	}
.drawer-menu li{
	display:inline-block;
	}
.drawer-menu li a{
	display:block;
	padding:20px;
	color:#333333;
	text-decoration:none;
	}
.drawer-menu li a:hover,
.drawer-menu li a:active{
	color:#cc0000;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
	transition: 0s;
	}

/* Dropdown（垂れ下がりメニュー中）*/

.drawer-dropdown-menu {
  display: none;
  position: absolute;
  z-index: 10;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
	background:#FFF;
	/*width:200px;*/
}

.drawer-dropdown-menu > li {
  width: 100%;
  list-style: none;
  position:relative;
	display:block;
}
.drawer-dropdown.open > .drawer-dropdown-menu {
  display: block;
}
/*! drawer-caret */

.drawer-dropdown .drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*! open */

.drawer-dropdown.open .drawer-caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* メニュー（SPオンリー）---------------------*/
	/*ロゴ*/
	.drawer-menu li.logo{ display:none;}



/******************************************************************************
メニュー（SP表示）
******************************************************************************/
@media only screen and (max-width: 1200px){

	.drawer-open {
		overflow: hidden !important;
	}

	/*! overlay */
	.drawer-overlay {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-color: #9b1e3b;
	}
	.drawer-open .drawer-overlay {
		display: block;
	}
	/*ヘッダーの中にメニューを入れている場合は、オーバーレイより上にする*/
	#header{
		z-index: 101;
	}

	/*! メニューBOX */
	.drawer-nav {
		position: fixed;
		z-index: 101;
		overflow: hidden;
		border:none;
	}
	
	.drawer-brand {
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 3.75rem;
		display: block;
		padding-right: .75rem;
		padding-left: .75rem;
		text-decoration: none;
	}

/*オリジナル---------------------*/
.drawer-menu{ padding-bottom:20px;}

	/*メニュー*/
	.drawer-menu{
	}
	.drawer-menu .group2 {
		background:rgba(0,0,0,0.2); /* 黒 */
		color:#ffffff;
		font-size:1.0em;
		font-weight:bold;
		padding:2px 0;
	}
	.drawer-menu li{
		display:block;
		border-top:1px solid #590e1f;
		border-bottom:1px solid #590e1f;
		margin-bottom:-1px;
		font-size:0.9em;
		line-height:1em;
		font-weight:bold;
		}
	.drawer-menu li > a{
		display:block;
		text-align:center;
		color:#ffffff;
		padding:10px 0;
		position:relative;
		text-decoration:none;
		}
	.drawer-menu li.outLink {
		padding:0;
		margin:0;
		border-top:none;
		border-bottom:none;
	}
	.drawer-menu li.outLink > a {
		padding:10px 0;
	}
/*	.drawer-menu > li > a:before{
		font-family: FontAwesome;
		content: '\f105';
		margin-right:5px;
		position:absolute;
		top:50%;
		line-height:0;
		right:2%;
		}
*/
	.drawer-menu li > a:hover{
		background:rgba(0,0,0,0.2); /* 黒 */
	}
	.drawer-menu li p {
		display:none;
	}


	/* Dropdown（垂れ下がりメニュー中）*/
	
	.drawer-dropdown-menu {
		width:100%;
		background:#f7f7f7;
		position:relative;
	}
	.drawer-menu > li.drawer-dropdown > a:before{
		display:none;
	}
	
	.drawer-dropdown-menu > li {
		position:relative;
		width: 100%;
		list-style: none;
		font-weight:500;
		border-top:1px dotted #ccc;
		border-bottom:1px dotted #ccc;
	}
	.drawer-menu > li.drawer-dropdown > ul > li > a:before{
		font-family: FontAwesome;
		content: '\f105';
		margin-right:5px;
		top:50%;
		line-height:0;
		left:15px;
		}
	
	.drawer-dropdown.open > .drawer-dropdown-menu {
		display: block;
	}

	/* メニュー（SPオンリー）---------------------*/
		/*ロゴ*/
		.drawer-menu li.logo{
			display:block;
			border:none;
		}
		.drawer-menu li.logo img {
			margin:auto;
		}
		.drawer-menu > li.logo > a:before {
			display:none;
		}

/*!------------------------------------*\
    fadeIn
\*!------------------------------------*/

.drawer--fadeIn .drawer-nav {
  top: 2%;
  width: 96%;
	max-width:750px;
  height: auto;
  max-height: 96%;
	display:none;
	opacity: 0;
	padding:0 20px 20px;
	margin-left:auto;
	margin-right:auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.drawer--fadeIn.drawer-open .drawer-nav {
	display:block;
	opacity: 1;
	animation-duration: 0.5s;
	animation-name: fade-in;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: fade-in;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fade-in;
	}

@keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: block;
        opacity: 1;
      }
    }

    @-moz-keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: block;
        opacity: 1;
      }
    }

    @-webkit-keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
      }
      100% {
        display: block;
        opacity: 1;
      }
    }
.drawer--fadeIn .drawer-hamburger,
.drawer--fadeIn.drawer-open .drawer-hamburger {
  right: 2%;
}


/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/
.h-menu{ float:right; width:60px;}

.drawer-hamburger {
  position: fixed;
  z-index: 104;
  top: 20px;
  display: block;
  width: 60px;
  height:60px;
  padding:5px 12px 0;
  border: 0;
  outline: 0;
	color:#ffffff;
	background-color: transparent;
  cursor: pointer;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	behavior: url("../../css/border-radius.htc");
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}
.drawer-hamburger:hover {
	/*background-color: #599c9f;*/
}
.drawer-hamburger-icon {
  position: relative;
  display: block;
}
.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
  height: 4px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	behavior: url("../../css/border-radius.htc");
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #fff;/*トグルナビの色変更はここ*/
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -10px;
  left: 0;
  content: ' ';
}
.drawer-hamburger-icon:after {
  top: 10px;
}
.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}
.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0px;
}
.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.drawer-hamburger-text{
	position:absolute;
	bottom:10px;
	line-height:0;
	right:0;
	width: 100%;
  text-align:center;
	font-size:0.9em;
}
}
/*768設定ここまで*/



@media screen and (max-width: 480px) {
	.h-menu{ width:50px;}
	.drawer-hamburger {
		top: 10px;
		width: 50px;
		height:50px;
		padding:0 8px 0;
	}
	.drawer-hamburger-text{
		bottom:8px;
		font-size:0.76em;
	}
}
@media only screen and (max-width: 320px){
	.h-menu{ width:40px;}
	.drawer-hamburger {
		width:40px;
		height:40px;
	}
	.drawer-hamburger-icon:before,
	.drawer-hamburger-icon:after {
		position: absolute;
		top: -6px;
		left: 0;
		content: ' ';
	}
	.drawer-hamburger-icon:after {
		top: 6px;
	}


}


/*!------------------------------------*\
    accessibility
\*!------------------------------------*/

/*!
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content
 */

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*!
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/*!------------------------------------*\
    Sidebar
\*!------------------------------------*/

.drawer--sidebar {
  background-color: #fff;
}

.drawer--sidebar .drawer-contents {
  background-color: #fff;
}

@media screen and (max-width: 480px) {
.drawer-menu > .next > a,
.drawer-menu > .next > .drawer-dropdown-menu > li > a{
	padding:15px 10px;
	font-size:1em;
	}
}
@media (min-width: 64em) {
  .drawer--sidebar .drawer-hamburger {
    display: none;
    visibility: hidden;
  }

  .drawer--sidebar .drawer-nav {
    display: block;
    -webkit-transform: none;
            transform: none;
    position: fixed;
    width: 12.5rem;
    height: 100%;
  }

  /*! Left */
  .drawer--sidebar.drawer--left .drawer-nav {
    left: 0;
    border-right: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 12.5rem;
  }

  /*! Right */
  .drawer--sidebar.drawer--right .drawer-nav {
    right: 0;
    border-left: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 12.5rem;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 48rem;
  }
}

@media (min-width: 75em) {
  .drawer--sidebar .drawer-nav {
    width: 14rem;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 16.25rem;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 16.25rem;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 60rem;
  }
}

/*!------------------------------------*\
    Navbar
\*!------------------------------------*/

.drawer--navbarTopGutter {
  padding-top: 3.75rem;
}

.drawer-navbar .drawer-navbar-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.drawer-navbar {
  z-index: 102;
  top: 0;
  width: 100%;
}

/*! .drawer-navbar modifier */

.drawer-navbar--fixed {
  position: fixed;
}

.drawer-navbar-header {
  position: relative;
  z-index: 102;
  box-sizing: border-box;
  width: 100%;
  height: 3.75rem;
  padding: 0 .75rem;
  text-align: center;
}

.drawer-navbar .drawer-brand {
  line-height: 3.75rem;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.drawer-navbar .drawer-brand:hover {
  background-color: transparent;
}

.drawer-navbar .drawer-nav {
  padding-top: 3.75rem;
}

.drawer-navbar .drawer-menu {
  padding-bottom: 7.5rem;
}

@media (min-width: 64em) {
  .drawer-navbar {
    height: 3.75rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }

  .drawer-navbar .drawer-navbar-header {
    position: relative;
    display: block;
    float: left;
    width: auto;
    padding: 0;
    border: 0;
  }

  .drawer-navbar .drawer-menu--right {
    float: right;
  }

  .drawer-navbar .drawer-menu li {
    float: left;
  }

  .drawer-navbar .drawer-menu-item {
    line-height: 3.75rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .drawer-navbar .drawer-hamburger {
    display: none;
  }

  .drawer-navbar .drawer-nav {
    position: relative;
    left: 0;
    overflow: visible;
    width: auto;
    height: 3.75rem;
    padding-top: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .drawer-navbar .drawer-menu {
    padding: 0;
  }

  /*! dropdown */
  .drawer-navbar .drawer-dropdown-menu {
    position: absolute;
    width: 14rem;
    border: 1px solid #ddd;
  }

  .drawer-navbar .drawer-dropdown-menu-item {
    padding-left: .75rem;
  }
}

/*!------------------------------------*\
    Dropdown
\*!------------------------------------*/

.drawer-dropdown-menu {
  display: none;
  box-sizing: border-box;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.drawer-dropdown-menu > li {
  width: 100%;
  list-style: none;
}

.drawer-dropdown-menu-item {
  line-height: 3.75rem;
  display: block;
  padding: 0;
  padding-right: .75rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #222;
}

.drawer-dropdown-menu-item:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}

/*! open */

.drawer-dropdown.open > .drawer-dropdown-menu {
  display: block;
}

/*! drawer-caret */

.drawer-dropdown .drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*! open */

.drawer-dropdown.open .drawer-caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*!------------------------------------*\
    Container
\*!------------------------------------*/

.drawer-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 64em) {
  .drawer-container {
    max-width: 60rem;
  }
}

@media (min-width: 75em) {
  .drawer-container {
    max-width: 70rem;
  }
}




