@charset "UTF-8";


/*********************************************************
 共通
*/

.wrraper{
}
section{
	max-width:620px;
	width:96%;
	margin:0 auto 0;
	display:block;
	clear:both;
	float:none;
}

.btn a{
	border:#ccc solid 1px;
	box-sizing:border-box;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	font-size:0.8em;
	padding:5px;
	color:#555;
	display:block;
	text-decoration:none;
}
.btn a:hover,
.btn a:active{
	background:#efefef;
}
input.searchWord{
	height:26px;
	width:80%;
	float:left;
	border:#333333 solid 2px;
	border-radius:1px;
	-moz-border-radius:1px;
	margin-bottom:5px;
	-webkit-border-radius:1px;
	border-radius:1px;
}
input.searchWordBtn{
	height:26px;
	margin:0;
	padding:0;
	cursor:pointer;
	min-width:18%;
	max-width:18%;
	width:18%;
	float:left;
	border:#333333 solid 2px;
	background:#333333;
	color:#fff;
	font-weight:bold;
	-webkit-appearance: none;
	border-radius: 0;}

.li_bg {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #0127a1;
	padding-left: 9px;
	margin-left:0;
}
/*リンクL*/
.arrL a{
	display:block;
	text-align:center;
	font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック";
	padding:10px 5px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	font-size:0.9em;
	font-weight:bold;
	cursor:pointer;
	        border-radius: 3px;
       -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(border-radius.htc); /* IE */

	-webkit-appearance: none;/*iphoneのデフォルトボタン打消*/
	border:#b9b8b8 solid 1px;
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#dddddd),
		to(#f7f7f7));
	background:-webkit-linear-gradient(top, #f7f7f7 0% , #dddddd 100%);
	background:-moz-linear-gradient   (top, #f7f7f7 0% , #dddddd 100%);
	background:-o-linear-gradient     (top, #f7f7f7 0% , #dddddd 100%);
	background:-ms-linear-gradient    (top, #f7f7f7 0% , #dddddd 100%);
	background:linear-gradient        (top, #f7f7f7 0% , #dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(
		GradientType=0,startColorstr='#FFf7f7f7', endColorstr='#FFdddddd');/*IE10用（色の頭にFFが必要）*/
}
.arrL a:hover {
	color:#aa1706;
	background:#dddddd;
}
/*リンクS*/
.arrS a{
	display: inline-block;
	background:url(../images/common/arrS.png) left center no-repeat;
	padding-left:15px;
}
.nomalTable th {
	padding:5px 0;
	background:#f7f7f7;
}

/**************
PC・SP切替
***************/
.dispPC{display:block;}
.dispSP{display:none;}
@media only screen and (max-width: 768px){
	.dispPC{display:none;}
	.dispSP{display:block;}
}

/*********************************************************
 ヘッダー
*/
.boxBackstretch{
	background:url(/images_sp/mainImg1.jpg) center bottom no-repeat;
	width:100%;
	height:500px;
	padding-top:1.4453%;/*画像サイズが900×310（310÷900）*/
	background-size:cover;
	padding:20px 0;
	display:table;
	background-color:#6e001a !important;
}
.firstSection2nd{
	background:url(/images_sp/mainImg2nd.jpg) center top no-repeat;
	background-size:cover;
	position:relative;
	height:300px;
}
.boxBackstretch h1,
.firstSection2nd h1 {
	position:absolute;
	top:5px;
	left:5px;
	font-size:0.5em;
	color:#ffffff;
}
.boxBackstretch p.logo,
.firstSection2nd p.logo {
	position:absolute;
	top:20px;
	left:20px;
	width:230px;
	height:auto;
}
.boxBackstretch p.message,
.firstSection2nd p.message {
	text-align:center;
	width:90%;
	color:#ffffff;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight:bold;
	font-size:1.3em;
	line-height:1.3em;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
header table{
	max-width:640px;
	margin:0 auto;
}
header table td{
	width:33%;
	height:50px;
	border-left:1px solid #ffffff;
	vertical-align:middle;
}
header table td.boderR{
	border-right:1px solid #ffffff;
}
.firstSection2nd p.pageTtl {
	text-align:center;
	width:90%;
	color:#ffffff;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight:bold;
	font-size:1.5em;
	line-height:1.3em;
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-60%);
	-webkit-transform:translate(-50%,-60%);
	-ms-transform:translate(-50%,-60%);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

/*********************************************************
 フッター
*/
footer{
	width:100%;
	max-width:640px;
	margin:0 auto;
}
.copyright{
	background:#000000;
	color:#ffffff;
	font-size:0.6em;
	text-align:center;
	padding:10px;
}


/*Calendar*/
.calendarBox{
	border: 1px solid #BEBEBE;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	        border-radius:5px;
	background:#fff;
}
table.calendar{
	/*
	border: 1px solid #BEBEBE;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	        border-radius:5px;
	background:#fff;
	*/
	font-size:0.8em;
	color:#000;
}
table.calendar th,
table.calendar td{
	height:28px;
	line-height:28px;
	text-align:center;
}
table.calendar th{
	background:#f6f6f6;
}
.holiday{
	color:#B71414;
}
.today{
	color:#0000FF;
}

/*SNS*/
.sns div{
	float:left;
	margin-right:2px;
	margin-bottom:2px;
}

/*********************************************************
 パンくず
*/

.pan{
	width:100%;
	margin:10px 0;
	font-size:0.8em;
	line-height:1.2em;
	font-weight:bold;
}
.pan span{
	display:inline-block;
	vertical-align:middle;
	width:20px;
	height:20px;
	background:url(../images/left/left_arr_right.gif) center 46% no-repeat;
	margin-right:5px;
}
.pan img{
	display:none;/*アイコン非表示*/
	max-width:20px;
	height:auto;
}
/*商品詳細*/
.pan p{
}
.pan a{
	color:333333;
}

/************************************************************
トップページ
************************************************************/
/*重要なお知らせ（盆・年末年始等）トップページの一番上に表示）*/
.mainNews{
	width:100%;
	padding:5px;
	background:#ffffff;
	border:#cccccc solid 1px;
	        border-radius:5px;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url("border-radius.htc");
	font-size:0.9em;
	margin-bottom:20px;
}
/*********************************************************
トップページ カテゴリリンク
*/
.indexLarge img,
.indexMiddle img{
}

.indexLarge{
	width:100%;
	overflow:hidden;
	position: relative;
	clear:both;
}
.indexCategoryTxt{
	text-align:left;
	font-size:0.8em;
	margin:5px auto 10px;
}
.column2left{
	width:48%;
	float:left;
}
.column2right{
	width:48%;
	float:right;
}
.indexMiddle{
	width:100%;
	position: relative;
}
.indexLarge a,
.indexMiddle a{
	width:100%;
	display:block;
	color:#333;
	text-decoration:none;
}
.indexLarge a:hover,
.indexLarge a:active,
.indexMiddle a:hover,
.indexMiddle a:active{
	color:#000;
}
/*ニュース*/
.news {
	width: 100%;
	padding: 0px;
	color:#333333;
	font-size:0.9em;
}
.news a{
	text-decoration:underline;
}
.news a:hover{
}
.news table{
	border-bottom:#333333 dotted 1px;
}
.inNewsDate{
	background:url(../images/common/arrSS.png) left center no-repeat;
	padding-left:10px;
}
.inNewsImage{
	max-width:60px;
	text-align:right;
}
.inNewsImage img{
	max-width:60px;
	max-height:100px;
}

/*おすすめ商品・ランキング・一覧*/
.indexOsusume,
.ranking,
.prodList{
	margin-bottom:10px;
}
.indexOsusume tr,
.ranking,
.prodList tr{
	padding-bottom:10px;
}


.prodListBox{
	width:49%;
	border:#eeeeee solid 1px;
	padding:5px;
	background:#ffffff;
	position:relative;
	padding-bottom:25px;
}
.rankingBox{
	border: 1px solid #cccccc;
	padding:9px;
	width:134px;
	background:#ffffff;
	position:relative;
	padding-bottom:25px;
}
.rankingBox a,
.prodListBox a{
	display:block;
	color:#333333;
}
.rankingBox a:hover img,
.prodListBox a:hover img{
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.prodListBoxSpacer{
	width:2%;
}
.rankingImg,
.prodListImg{
	margin:0 auto 10px;
}
.prodListImg img{
	margin:auto;
}
.rankingImg img{
	max-width:100%;
	max-height:173px;
	margin:auto;
}
.rankingIco{
	text-align:center;
	margin-bottom:10px;
}
.prodListIco{
	line-height:16px;
	margin-bottom:10px;
}
.prodListIco img{
	display:inline-block;
}
.prodListName{
	color:#333333;
	font-size:0.9em;
	line-height:1.2em;
	text-align:left;
	margin-bottom:15px;
	word-break:break-all;
	overflow-wrap : break-word;
}
.prodList .prodListName{
	font-weight:bold;
}
.prodListPrice{
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:0.8em;
	line-height:1.2em;
	text-align:right;
	color:#cc0000;
	font-weight:bold;
}
.prodListPoint{
	font-size:0.8em;
	line-height:1.4em;
height: 2.6em;
overflow-wrap: break-word;/*強制折返*/
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
margin-bottom:5px;

}


/***
indexのみの指定
************************************************************************************************************************/
/************************************************************
4つの〇メニュー
************************************************************/
.tWorks {
	padding:15px 0;
	/*background:url(/images/index/menu4Bg.jpg) center top repeat-y;*/
}
.tWorks ul {
	width:90%;
	margin:auto;
}
.tWorks li dt,
.tWorks li dd p {
	text-align:center;
}
.tWorks li dd p {
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	color:#ad073b;
	font-weight:bold;
	font-size:1.2em;
	margin:20px 0 10px;
}
.tWorks li dd {
	font-size:0.9em;
	width:90%;
	margin:auto;
}
.tWorks li a {
	display:block;
	text-decoration:none;
	color:#222222;
}
.tWorks li img {
	margin:auto;
}


/************************************************************
店舗案内
************************************************************/
.tShopinfo h2{
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size:2.3em;
	line-height:1em;
	color:#ffffff;
	text-align:center;

	font-weight:normal;
	border:none;
	}
.tShopinfo h2 span {
	display:block;
	font-size:0.6em;
}
.tShopinfo {
	background:url(../images/index/guide_bg.gif) center top repeat;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	padding:0 0 40px;
}
.tShopinfo ul li {
	width:330px;
	height:330px;
	margin:0 auto 15px;
	position:relative;
	overflow: hidden;
}
.tShopinfo ul li:last-child {
	margin:0 auto 0;
}
.tShopinfo ul li span {
	position:absolute;
	text-align:center;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	width:50%;
	color:#ffffff;
	background:rgba(0,0,0,0.7); /* 黒 */
	padding:10px;
	margin:auto;
	z-index:99;
}
.tShopinfo ul li span:hover {
	background:#5d0009;
}
.tShopinfo ul li a {
	display:block;
}
.tShopinfo ul li img {
	display:block;
	max-width:100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.tShopinfo ul li img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/************************************************************
中バナー2
************************************************************/
.banner2M {
	/*background:url(../images/common/cakeBg.jpg) left top repeat;*/
	padding:20px 0;
	border-bottom:1px solid #dddddd;
}
.banner2M li {
	width:90%;
	margin:0 auto 15px;
}
.banner2M li:last-child {
	margin:0 auto 0;
}


/************************************************************
ニュース関連
************************************************************/
.topNews {
	padding:0;
}
.topNews h2{
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size:2.3em;
	line-height:1em;
	color:#ad073b;
	text-align:center;
	font-weight:normal;
	border:none;
	}
.topNews h2 span {
	display:block;
	font-size:0.6em;
	color:#222222;
}
.news {
	width: 100%;
	height:350px;
	overflow-y:scroll;
	}
.news::-webkit-scrollbar{ width: 5px;}
.news::-webkit-scrollbar-track{	background: #f7f7f7;}
.news::-webkit-scrollbar-thumb {background: #dddddd;}
.news li {
	padding:15px 20px;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight:bold;
	border-bottom:1px dotted #cccccc;
	line-height:1.3em;
}
.news li:nth-child(odd) {
	background:#f7f7f7;
}
.news li a {
	text-decoration:none;
	color:#222222;
}
.news li span {
	display:inline-block;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight:500;
	font-size:0.9em;
	padding:5px;
	margin:0 0 5px 10px;
	text-align:center;
	background:#5d0009;
	color:#960;
	border-radius: 20px;        /* CSS3草案 */  
	-webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 20px;   /* Firefox用 */
	width:130px;
	line-height:1em;
}
.news li span.shop {/* お知らせ */
	background:#f4d7d9;
}
.news li span.shop1 {/* 鳳店 */
	background:#e4dcec;
}
.news li span.shop2 {/* 津久野店 */
	background:#d4ebea;
}
.news li span.shop3 {/* 東岸和田店 */
	background:#d1e5bc;
}

/*ニュース詳細ページ*/
.newsTitle{
	font-weight:bold;
	padding:10px;
	background:#f7f7f7;
}
.newsDate{
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	font-weight: normal;
	margin-right:10px;
}
@media all and (-ms-high-contrast:none){
	.newsTitle{
		padding:13px 10px 7px;
	}
}

/************************************************************
求人バナー
************************************************************/
.recruitBn {
	background:#f4d7d9;
	padding:15px;
	margin-top:30px;
	text-align:center;
	color:#ffffff;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	text-align:center;
}
.recruitBn div {
	border:2px solid #fbe5e6;
	padding:50px 0;
}
.recruitBnLeadCopy {
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size:1.6em;
	line-height:1em;
	margin-bottom:15px;
	font-weight:bold;
	color:#ad073b;
}
.recruitTxt {
	margin-bottom:15px;
	font-size:1em;
	line-height:1.3em;
	color:#960;
}
.recruitLink {
	display:block;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	padding:7px;
	border:1px solid #ad073b;;
	width:50%;
	margin:auto;
	color:#ad073b;
	font-weight:bold;
}
.recruitLink:hover {
	background:#ad073b;
	color:#ffffff;
}

/************************************************************
instagram
************************************************************/
.instagram {
	padding:30px 0 30px;
}
.instagram p {
	margin:0 auto 25px;
}
.instagram p img {
	margin:auto;
	width:170px;
}
.instagram {
  min-height: 1px;
}
.instagram:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}
* html .instagram {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
.instagram li {
	float:left;
	width:33.33%;
}
.instaWrap {
    position:relative;
    width:100%;
    height:100%;
    padding-top:50%;
		overflow:hidden;
}
.instaWrap iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:375px;
		border:none;
}



/***
2階層目以降への指定
************************************************************************************************************************/
.secondContents > h3 {
	background:url(../images/common/h2Bg.png) left top no-repeat #6e001a;
	padding:20px 0;
	margin-bottom:20px;
	text-align:center;
	line-height:1em;
	font-size:1.2em;
	color:#ffffff;
}

/************************************************************
店舗案内
************************************************************/
.shop {
	margin-bottom:20px;
}
.shop p {
	width:90%;
	margin:0 auto 20px;
}
.shop p img {
	width:100%;
}
.shop iframe {
	margin-top:20px;
}
p.shopIco {
	width:100%;
	margin:0;
}
.shopIco span {
	display:inline-block;
	width:20%;
	line-height:1.3em;
	padding:5px 0;
	margin:0 5px 5px 0;
	font-size:0.75em;
	text-align:center;
	background:#222222;
	color:#ffffff;
}

/************************************************************
求人情報
************************************************************/
.recMsg {
	text-align:center;
	margin:0 auto 30px;
	width:90%;
}
.recMsg span {
	display:block;
	font-size:1.6em;
	line-height:1.4em;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	padding:30px 0 20px;
	color:#ad073b;
	font-weight:bold;
}
.rec3Btn {
	width:90%;
	margin:0 auto 30px;
}
.rec3Btn li a {
	display:block;
	padding:10px 0;
	text-align:center;
	border-radius: 5px;        /* CSS3草案 */  
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 5px;   /* Firefox用 */
	background:#FFF0F0;
	text-decoration:none;
	color:#ad073b;
	font-weight:bold;
	font-size:0.9em;
}

/************************************************************
お問合せフォーム
************************************************************/
.formPrivacy {
	margin-bottom:30px;
}
.formPrivacy {
	padding:10px;
	background:#f7f7f7;
	text-align:center;
	font-size:0.9em;
}
.formPrivacy span {
	display:block;
	font-weight:bold;
}

/************************************************************
商品詳細
************************************************************/
.itenPhotoMain {
	width:600px;
	margin:0 auto 40px;
}
.itenPhotoMain img {
	width:100%;
}
.itemDetail {
	width:100%;
	margin:auto;
}
.itemPhoto {
	width:100%;
}
.itemPhoto img {
	width:100%;
	border-radius: 10px;        /* CSS3草案 */  
	-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 10px;   /* Firefox用 */
}
.itemDetail  p.price {
	text-align:right;
	color:#cc0000;
	font-size:1.4em;
	font-weight:bold;
	margin-bottom:20px;
}
.itemDetail > div {
	width:100%;
}
.itemDetail > div dt {
	color:#ad073b;
	font-weight:bold;
	font-size:1.2em;
}
.itemDetail > div dd {
	padding:0;
	margin:0;
	width:100%;
}
.itemDetail > div ul.comment li {
	padding:15px;
	font-size:0.9em;
	font-weight:bold;
	line-height:1em;
}
.itemDetail > div ul.comment li:nth-child(odd) {
	background:#f7f7f7;
}
.btnDetail {
	margin:0 auto 30px;
	width:80%;
}
.btnDetail a {
	display:block;
	text-align:center;
	border-radius: 10px;        /* CSS3草案 */  
	-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 10px;   /* Firefox用 */
	padding:20px 0;
	background:#ad073b;
	color:#ffffff;
	font-size:1.2em;
	font-weight:bold;
}

/************************************************************
カフェメニュー
************************************************************/
.cafeMenu {
	width:92%;
	margin:auto;
}
.cafeMenu li {
	margin-bottom:15px;
}
.cafeMenu li img {
	margin-bottom:5px;
}
.cafeMenu li dt {
	font-size:0.9em;
}
.cafeMenu li dd {
	text-align:right;
	color:#900;
	font-weight:bold;
	font-size:0.8em;
}
.cafeMenu li p{
	text-align:center;
	font-size:0.9em;
}
.setDrink {
	background:#f7f7f7;
	font-size:0.8em;
	line-height:1em;
	padding:10px;
}
.setDrink p {
	line-height:1.4em;
}
.setDrink span {
	font-weight:bold;
	color:#900;
	margin-bottom:5px;
	display:block;
	text-align:center;
	box-sizing:border-box;
}
.cafeDrink {
	width:90%;
	margin:auto;
}
.cafeDrink p {
	float:left;
	width:25%;
}
.cafeDrink ul {
	float:right;
	width:70%;
}





/*******************************************
レスポンシブ
*/
@media only screen and (max-width:480px) {
}
@media only screen and (max-width:380px) {
}




.catch{
	position:relative;
}
.catch p{
	position:absolute;
	left:2%;
	bottom:10px;
	line-height:1.2em;
	font-size:0.85em;
}


@media only screen and (max-width:380px) {

	.catch p{
		position:relative;
		margin-top:20px;
	}
}

/******************************
ご注文方法
*/
.order{
	background:#666666;
	color:#ffffff;
	font-weight:bold;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}


/******************************
カテゴリページ
*/

/*一覧中カテ*/
.itemListCate{
	font-size:0.8em;
	line-height:1.2em;
}
.itemListCate td{
	border:#cccccc solid 1px;
	background:#f7f7f7;
	text-align:center;
	border-radius: 5px; 
	-webkit-border-radius: 5px;   
	-moz-border-radius: 5px;
	behavior: url("border-radius.htc");
	padding:3px;
}
.itemListCate td a{
	display:block;
}
.itemListCate td:hover{
	background:#f7f7f7;
}


/*大カテ*/
.categoryListLarge{
	display:table;
	width:100%;
	position:relative;
	clear:both;
	float:none;
	border-bottom:#666666 solid 2px;
}
.categoryListLarge *{
	display:table-cell;
	vertical-align:middle;
}
.categoryListLarge a{
	display:block;
	padding:5px;
	font-weight:bold;
	text-decoration:none;

}
.categoryListLarge a:hover,
.categoryListLarge a:active{
	background:#efefef;
}
.categoryListLarge span.cateIco{
	display:inline-block;
	padding-left:0;
	width:30px;
	height:30px;
	margin-right:5px;
}
.categoryListLarge span.cateIco img{
	max-width:30px;
	height:auto;
	margin:auto;
	padding:0;
}
.categoryListLarge span.cateMbtn{
	position:absolute;
	right:10px;
	top:10px;
	background:#1370dc;
	color:#ffffff;
	font-size:0.7em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:0 5px;
}

.categoryListLarge span.cateMbtn:hover,
.categoryListLarge span.cateMbtn:active{
	background:#cc0000;
}


/*小カテ*/
.categoryListSmall{
	margin:0;
	padding:0;
}
.categoryListSmall li{
	list-style:none;
	border-bottom:#cccccc solid 1px;
	margin:0;
	clear:both;
	float:none;
	font-size:0.8em;
	position:relative;
}

.categoryListSmall li a{
	padding:10px 40px 10px 45px;
	background: url(list_mark1.png) no-repeat 96% 50%;
	display:block;
	text-decoration:none;
	color:#333333;
}
.categoryListSmall li a:hover,
.categoryListSmall li a:active{
	color:#000000;
	font-weight:bold;
}
.categoryListSmall li span{
	position:absolute;
	width:30px;
	height:30px;
	top:5px;
	left:5px;
	text-align:center;
	/*background: url(../images/left/leftCategoryMicon.png) center center no-repeat;*/
}
.categoryListSmall li img{
	max-width:30px;
	max-height:30px;
	margin:auto;
}


/*中カテ*/
.catePhoto_Frame{
	width:100%;
	position:relative;
	box-sizing:border-box;
}
.catePhoto_FrameTL{
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:42px;
	background:url(../images_sp/products/catePhoto_FrameTL.png) top left no-repeat;
}
.catePhoto_FrameTR{
	position:absolute;
	top:0;
	right:0;
	width:40px;
	height:42px;
	background:url(../images_sp/products/catePhoto_FrameTR.png) top right no-repeat;
}
.catePhoto_FrameBL{
	position:absolute;
	bottom:0;
	left:0;
	width:40px;
	height:42px;
	background:url(../images_sp/products/catePhoto_FrameBL.png) bottom left no-repeat;
}
.catePhoto_FrameBR{
	position:absolute;
	bottom:0;
	right:0;
	width:40px;
	height:42px;
	background:url(../images_sp/products/catePhoto_FrameBR.png) bottom right no-repeat;
}
.catePhoto_Frame img{
	margin:auto;
}

.catePhoto_Txt{
	padding:5px 0;
	box-sizing:border-box;
}
.catePhoto_Txt a{
	position:relative;
	margin-bottom:10px;
	text-align:center;
	display:block;
	padding:5px 10px 5px 20px;
	box-sizing:border-box;
}
.catePhoto_Txt a:hover,
.catePhoto_Txt a:active{
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
}


.catePhoto_Txt a.bg4{
	font-size:0.8em;
	line-height:1.3em;
}

.categoryImg{
	text-align:center;
	margin:10px 0;
}

.categoryImg img{
	margin:auto;
	border:#cccccc solid 1px;
}
.categoryImg span{
	display:block;
	font-size:0.8em;
	line-height:1.5em;
	margin-bottom:15px;
}

/*pager*/
.hit{
	border-bottom:#dddddd solid 1px;
	font-size:0.9em;
}
.hitNone{
	font-size:0.9em;
	text-align:center;
	padding:40px;
	border:#cccccc solid 1px;
	background:#ffffff;
}


/******************************
ショッピングカート
*/
#cartAttention{
	margin:0 0 10px;
	padding:0;
	list-style:none;

}

#cartList{
	width:100%;
	margin: 0 auto 10px;
	border:#0127a1 solid 3px;
}
#cartList th,
#cartList td{
	padding:5px;
}
#cartList th{
	background:#0127a1;
	color:#FFFFFF;
}
#cartList td{
	padding:5px;
	border-bottom:#cccccc solid 1px;
}

/************************************************************
商品詳細
************************************************************/

.itemName {
	background:#0127a1;
	color:#ffffff;
	font-weight:bold;
	font-size:1.1em;
	padding:10px;
	margin:15px 0;
}
.radioChoice {
	padding:3px;
	background:#666666;
	font-size:0.9em;
	color:#ffffff;
}
.cautionNomal {
	text-align:center;
	font-size:0.85em;
}
.caution1 {
	background:#f7f7f7;
	border:1px solid #dddddd;
	font-size:0.9em;
	color:#C00;
	padding:10px;
	line-height:1.3em;
	font-weight:500;
	margin-bottom:10px;
}
.caution2 {
	font-size:0.9em;
	color:#C00;
	font-weight:bold;
	line-height:1.3em;
	margin-bottom:10px;
}
.pulldownChoice {
	font-weight:bold;
	margin-bottom:10px;
}
.detailFormTable {
	font-size:0.8em;
	width:100%;
}
.detailFormTable th,
.detailFormTable td {
	padding:5px;
	line-height:1.4em;
}
.detailFormTable th {
	background:#f7f7f7;
}
.detailFormTable td {
	background:#ffffff;
	text-align:center;
}

/******************************
商取
*/
.fee_table { border:#cccccc solid 1px;}
.fee_table dl{width:100%; margin:0; padding:0; clear:both;}
.fee_table dt{width:50%; float:left; text-align:center; margin:0; padding:5px;}
.fee_table dd{width:50%; float:left; text-align:center; margin:0; padding:5px;}
.fee_table dl:nth-child(odd){ background:#f7f7f7;}
.fee_table dl:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}


.daibiki_table { border:#cccccc solid 1px;}
.daibiki_table dl{width:100%; margin:0; padding:0;}
.daibiki_table dt{width:70%; float:left; text-align:center; margin:0; padding:5px;}
.daibiki_table dd{width:30%; float:left; text-align:center; margin:0; padding:5px;}
.daibiki_table dl:nth-child(odd){ background:#f7f7f7;}


/******************************
商品詳細
*/
.prodDetailName{
	width:100%;
	padding:5px;
	background:#f7f7f7;
	border:#333333 solid 1px;
	        border-radius:5px;
	   -moz-border-radius:5px;
	-webkit-border-radius:5px;
	behavior: url("border-radius.htc");
	font-weight:bold;
	margin-bottom:5px;
}

/*詳細ページ商品写真slick*/
.productsDetail{
}
.productsDetail img {
	margin:auto;
}

/*カートまわり*/
.prodCart{
	margin-bottom:20px;
}

.prodDetailImg{
}
.prodDetailImg img{
	margin:auto;
}
.prodDetailImg span{
	display:block;
	padding:5px;
	font-size:0.8em;
	line-height:1.3em;
	text-align:center;
}

/*他の興味*/
table.prodOthers{
}
table.prodOthers td{
	max-width:49%;
	text-align:center;
}
table.prodOthers td img{
	margin:auto;
	max-width:100%;
	height:auto;
}
table.prodOthers td span{
	display:block;
	text-align:center;
	font-size:0.9em;
	line-height:1.3em;
	margin:5px auto 0;
}

/*テーブル*/
.prodCartTable{
	margin-bottom:10px;
}
.prodCartTable th,
.prodCartTable td{
	border-bottom:#cccccc dotted 1px;
}
.prodCartTable th{
	text-align:left;
	font-weight:normal;
}
.prodCartTable .li_bg {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #0127a1;
	padding-left: 9px;
}

.prodCartTable .prodName{
	font-weight:bold;
}
.prodCartTable .prodPrice{
	color:#cc0000;
	font-weight:bold;
}
/**/
.prodInfo{
	border:#0127a1 solid 1px;
	padding:5px;
	margin-bottom:10px;
}
table.prodInfo2{
	border:#0127a1 solid 1px;
	border-bottom:none;
	margin-bottom:10px;
}
table.prodInfo2 tr{
}
table.prodInfo2 th,
table.prodInfo2 td{
	padding:10px;
	border-bottom:#0127a1 solid 1px;
	overflow-wrap: break-word;/*強制折返*/
}
table.prodInfo2 th{
	border-right:1px solid #0127a1;
	text-align:center;
	background:#f7f7f7;
	width:25%;
	color:#0127a1;
}



/**/
.prodDetailTitle{
	background:#f7f7f7;
	padding:5px;
	font-weight:bold;
	margin-bottom:5px;
}
.prodDetailTitle .send_free a{
	display:inline-block;
	float:right;
	background:#ffffff;
	padding:0 5px;
	text-align:center;
	font-size:0.6em;
	color:#cc0000;
}
.prodDetailTitle .send_free a:hover{
	background:#cccccc;
}
/*cart*/
#page-cart {
	position: fixed;
	bottom: 50px;
	right: 0px;
}
#page-cart a {
	background: #cc0000;
	text-decoration: none;
	color: #fff;
	width: 50px;
	height:50px;
	padding:12px 5px 0;
	text-align: center;
	display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	opacity:.6;
	font-size: 0.6em;
	line-height:1em;

}
#page-cart a:hover {
	opacity:1;

}
/************************************************************
石の種類から選ぶ
************************************************************/
.search_anker{
	display:inline-block;
	width:18%;
}
.search_anker2{
	display:inline-block;
	width:31.5%;
}
.searchTtl{
	border-bottom:#1370dc solid 2px;
	margin-bottom:10px;
	font-size:1.1em;
	font-weight:bold;
}
.searchTtl span{
	display:inline-block;
}
/************************************************************
マイページ
************************************************************/
.myOrder{
	margin-bottom:20px;
}
.myOrderDetail th{
	border-bottom:#666666 solid 1px;
}
.myOrderDetail td{
	border-bottom:#cccccc dotted 1px;
}
