@charset "shift_jis"; 

.table {
	/*border-collapse: collapse;/*隣接するセルのボーダーを重ねて表示します。*/
	margin:0 auto 0;
	width:90%;
}
.table > tbody > tr {
	border: none;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
	display: list-item;
	border: none;
	text-align:left;
	list-style-type: none;
	width:100%;
	padding:5px;
	margin:0;
}
.table > tbody > tr > th {
	background:#f7f7f7;
	text-align:left;
}
.table > tbody > tr > td.last,
.table > tbody > tr > th.last{
	border:none;
}

.table table {
	max-width:100%;
}
.table table td,
.table table th {
	border-bottom:none;
}



.scroll{
/* tableをスクロール可能にする */
overflow-x: scroll;
/* tableセル内文字の折り返しを禁止 */
white-space: nowrap;
}

/* ↓tableにスクロールバーを追加 ここから */
.scroll::-webkit-scrollbar{
height: 5px;
}
.scroll::-webkit-scrollbar-track{
/* スクロールバーのスクロール範囲の色 */
background: #F6F6F6;
}
.scroll::-webkit-scrollbar-thumb {
/* スクロールバーのツマミの色 */
background: #C2C2C2;
}
/* tableにスクロールバーを追加 ここまで↑ */

.scroll table{
/* tableの幅を100%に */
width:200%;
}


.table input[type="text"]{
	width:100%;
	list-style-type: none;
	margin:0;
	box-sizing:border-box;
}
.table input[type="password"]{
	width:100%;
	list-style-type: none;
	margin:0;
	box-sizing:border-box;
}
.table input[type="submit"]{
	margin:0;
	box-sizing:border-box;
	cursor:pointer;
}
	
.table textarea {
	width:100%;
}



@media only screen and (max-width:480px) {


}

/********************
商品情報
*/

.tableProductInfo{
	border:#CCCCCC solid 1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.tableProductInfo td,
.tableProductInfo th {
	border-bottom: 1px solid #CCCCCC;
	padding:2%;
}

@media only screen and (max-width:480px) {
	.tableProductInfo{
	}

	.tableProductInfo tr{
		border: none;
	}
	.tableProductInfo th,
	.tableProductInfo td {
		display: list-item;
		border: none;
		text-align:left;
		list-style-type: none;
	width:100%;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
}


/********************
配送料金
*/
@media only screen and (max-width:480px) {
	.tableSend_free table{
	}
	
	.tableSend_free table td{
		float:left;
		width:50%;
		box-sizing:border-box;
		border-bottom:#C0C0C0 solid 1px;
		text-align:center;
	}
	.tableSend_free table td:nth-child(7n),
	.tableSend_free table td:nth-child(8n){
		border:none;
	}
}
