@charset "UTF-8";


/*********************************************************
 共通
*/
/*リンクL*/
/*リンクS*/

/**************
PC・SP切替
***************/

/*********************************************************
 ヘッダー
*/
.firstSection2nd{
	background:url(/images_sp/mainImg2nd.jpg) center top no-repeat;
	background-size:cover;
	position:relative;
	height:300px;
}

.firstSection2nd h1 {
	position:absolute;
	top:5px;
	left:5px;
	font-size:0.5em;
	color:#ffffff;
}

.firstSection2nd p.logo {
	position:absolute;
	top:20px;
	left:20px;
	width:230px;
	height:auto;
}

.firstSection2nd p.message {
	text-align:center;
	width:90%;
	color:#ffffff;
	font-family:"游明朝 Light", YuMincho, "Noto Serif", "Sawarabi Mincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight:bold;
	font-size:1.3em;
	line-height:1.3em;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

/*********************************************************
 フッター
*/
footer{
	width:100%;
	max-width:640px;
	margin:0 auto;
}
.copyright{
	background:#000000;
	color:#ffffff;
	font-size:0.6em;
	text-align:center;
	padding:10px;
}


/*Calendar*/

/*SNS*/

/*********************************************************
 パンくず
*/
/*商品詳細*/

/************************************************************
トップページ
************************************************************/
/*重要なお知らせ（盆・年末年始等）トップページの一番上に表示）*/
/*********************************************************
トップページ カテゴリリンク
*/
/*ニュース*/

/*おすすめ商品・ランキング・一覧*/


/***
indexのみの指定
************************************************************************************************************************/
/************************************************************
4つの〇メニュー
************************************************************/


/************************************************************
店舗案内
************************************************************/


/************************************************************
中バナー2
************************************************************/


/************************************************************
ニュース関連
************************************************************/

/*ニュース詳細ページ*/

/************************************************************
求人バナー
************************************************************/

/************************************************************
instagram
************************************************************/



/***
2階層目以降への指定
************************************************************************************************************************/
.secondContents > h3 {
	background:url(../images/common/h2Bg.png) left top no-repeat #6e001a;
	padding:20px 0;
	margin-bottom:20px;
	text-align:center;
	line-height:1em;
	font-size:1.2em;
	color:#ffffff;
}

/************************************************************
店舗案内
************************************************************/
.shop {
	margin-bottom:20px;
}
.shop p {
	width:90%;
	margin:0 auto 20px;
}
.shop p img {
	width:100%;
}
.shop iframe {
	margin-top:20px;
}
p.shopIco {
	width:100%;
	margin:0;
}
.shopIco span {
	display:inline-block;
	width:20%;
	line-height:1.3em;
	padding:5px 0;
	margin:0 5px 5px 0;
	font-size:0.75em;
	text-align:center;
	background:#222222;
	color:#ffffff;
}

/************************************************************
求人情報
************************************************************/

/************************************************************
お問合せフォーム
************************************************************/

/************************************************************
商品詳細
************************************************************/

/************************************************************
カフェメニュー
************************************************************/





/*******************************************
レスポンシブ
*/
@media only screen and (max-width:480px) {
}
@media only screen and (max-width:380px) {
}

/******************************
ご注文方法
*/


/******************************
カテゴリページ
*/

/*一覧中カテ*/


/*大カテ*/


/*小カテ*/


/*中カテ*/

.categoryImg{
	text-align:center;
	margin:10px 0;
}

.categoryImg img{
	margin:auto;
	border:#cccccc solid 1px;
}
.categoryImg span{
	display:block;
	font-size:0.8em;
	line-height:1.5em;
	margin-bottom:15px;
}

/*pager*/


/******************************
ショッピングカート
*/

/************************************************************
商品詳細
************************************************************/

/******************************
商取
*/


/******************************
商品詳細
*/

/*詳細ページ商品写真slick*/

/*カートまわり*/

/*他の興味*/

/*テーブル*/
/**/



/**/
/*cart*/
/************************************************************
石の種類から選ぶ
************************************************************/
/************************************************************
マイページ
************************************************************/
