@charset "UTF-8";
body {
	margin:0;
	font-size: 0.9em;
	color:#333333;
	line-height: 1.5em;
	font-family: "メイリオ","Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic","sans-serif"; 
	background:#ffffff;
	-webkit-text-size-adjust: 100%;/*文字の自動拡大等なくす*/
}

h1,h2,h3,div,p,form {
	margin:0;
	padding:0;
	}
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}


*{
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
	behavior: url("boxsizing.htc");
}

img{
	max-width:100%;
	height:auto;
	_width:100%;
	border: none;
	display:block;
}

h2{
	text-align:center;
	padding:30px 0;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}
h3{
	background:#f7f7f7;
	margin-bottom:20px;
	padding:10px;
	font-weight:bold;
	font-size:1.1em;
	line-height:1.3em;
	text-align:center;
}
h2 span,
h3 span{
	font-size:0.7em;
	font-weight:normal;
	display:block;
}

/* LINK */	
a{
	color:#394886;
	text-decoration:none;
}
a:link    {}
a:visited {}
a:active  {}
a:hover   {color: #0c2381;}
a:active, a:focus {outline:0;}

/*アンカーヘッダー分余白を空ける*/
a[name]{
	display:block;
   margin-top:-50px;
  padding-top:50px;
}
/********************
ページトップ
********************/
#page-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 0.7em;
	line-height:1em;
}
#page-top a {
	background: #222222;
	text-decoration: none;
	color: #fff;
	width: 50px;
	height:50px;
	padding:12px 5px 0;
	text-align: center;
	display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
opacity:0.8;
filter: alpha(opacity=80);        /* ie lt 8 */
-ms-filter: "alpha(opacity=80)";  /* ie 8 */
-moz-opacity:0.8;                 /* FF lt 1.5, Netscape */
-khtml-opacity: 0.8;              /* Safari 1.x */
}
#page-top a:hover {
	opacity:1;
	filter: alpha(opacity=100);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=100)";  /* ie 8 */
	-moz-opacity:1;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 1;              /* Safari 1.x */
}

