/* Slider */


/*サムネイル付-スライドなし//////////////////////////////////////////////////////////////////*/
.slick-thumb-main {
	margin: 0 auto 10px;
	position:relative;
	width:95%;
}
.slick-thumb-main li{
	}
.slick-thumb-main li a{
	display:block;
	position:relative;
	overflow:hidden;
	width: 100%;
	height: 100%;
	padding: 100% 0 0;/*正方形*/
}
.slick-thumb-main li img{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	max-height:100%;
	max-width:100%;
	z-index:1;
}
.slick-thumb-main li p{
	display:block;
	width:100%;
	text-align:center;
	z-index:11;
	font-weight:bold;
}
/*
.slick-thumb-main li a:after{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:rgba(0,0,0,0.2); /*黒
	height:2em;
	font-size:0.8em;
	line-height:2em;
	text-align:center;
	color:#222222;
	text-shadow:1px 1px 1px #ffffff;
	z-index:10;
	content:"\753B\50CF\30AF\30EA\30C3\30AF\3067\62E1\5927";/*画像クリックで拡大
}
*/


.slick-thumb-list {
	margin: auto;
	width:95%;
}
.slick-thumb-list li {
	position:relative;
	float:left;
	width:18.4%;
	margin-right:2%;
	padding: 18.4% 0 0;/*正方形*/
	margin-bottom:2.5px;
  position: relative;
	cursor:pointer;
	border:#cccccc solid 1px;
}
.slick-thumb-list li:nth-child(5n){
	margin-right:0;
}
.slick-thumb-list li img {
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	max-height:100%;
	max-width:100%;
	z-index:1;
}

.slick-thumb-list li:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .3s opacity linear;
}
.slick-thumb-list li.thumbnail-current{
	border:#cc0000 solid 1px;
}
.slick-thumb-list li.thumbnail-current:after {
  opacity: 0;
}

.slick-thumb-list:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/*写真拡大後ポップアップページのL写真*/
.popup-right .slick-thumb-main {
	margin: 0;
	border:none;
}
.popup-right .slick-thumb-main li{
	position:relative;
	overflow:hidden;
	width: 800px;
	max-height: 800px;
	padding: 0;
}
.popup-right .slick-thumb-main li img{
	position:relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0 , 0);
	-ms-transform: translate(0 , 0);
	transform: translate(0 , 0);
	max-height:auto;
	max-width:auto;
	z-index:1;
	margin:auto;
}
.popup-right .slick-thumb-main li p{text-align:center;}

.popup-right .slick-thumb-main:hover:after{
	display:none;
}

/*写真拡大後ポップアップページのサムネイル*/
.popup-left .slick-thumb-list li {
	width:76px;
	height:76px;
	padding: 76px 0 0;/*正方形*/
	margin-right:0;
	margin-bottom:2px;
}


/*************************************************************************
追加分

*************/


ul.ranking {
	max-width:640px;/*スマホ用*/
	width:100%;
	height:auto;
	margin:0 auto 70px;
	padding:0;
}

ul.ranking li {
	list-style:none;
	margin:0 3px;
}
/*詳細はprodListBoxと同じ*/

.rankingIco{
	text-align:center;
	padding:5px 0 2px;
}
.rankingIco img{
	margin:auto;
}

.ranking .prodListName{
	width:100%;
height: 4.6em;
overflow-wrap: break-word;/*強制折返*/
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
}


/*
ul.ranking a{
	color: #47210d;
	text-decoration:none;
}

ul.ranking p{
	margin:5px 0;
}
*/

/*************************************************************************/

.slick-slider{
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus{
    outline: none;
}

.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}

.slick-track:after{
    clear: both;
}

.slick-loading .slick-track{
    visibility: hidden;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide{
    float: right;
}

.slick-slide img{
    display: block;
}

.slick-slide.slick-loading img{
    display: none;
}

.slick-slide.dragging img{
    pointer-events: none;
}

.slick-initialized .slick-slide{
    display: block;
}

.slick-loading .slick-slide{
    visibility: hidden;
}

.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



